<nav class="navbar  navbar-expand-lg  
                              navbar-light">

  <!-- Hamburger button that toggles the navbar-->
 
  <!-- navbar links -->



  <div class="collapse navbar-collapse d-inline-block" id="navbarTogglerDemo03">
    <button class="navbar-toggler  d-none d-lg-block circle" type="button" data-toggle="collapse"
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
    aria-label="Toggle navigation" id="toggleButton" onclick="toggleSlider()">
    <i class="fa fa-bars font-12 fa-rounded" aria-hidden="true"></i>
  </button>
  </div>
  <form class="d-inline-block position-relative">

    <input type="text" class="form-control navbar-search" placeholder="Search...">
    <span class="fa fa-search form-control-feedback "></span>
  </form>
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
     
      <li class="d-inline-block" style="padding-right: 1%;"><i class="fa fa-expand fa-rounded"></i></li>
      <li class="d-inline-block" style="padding-right: 1%;" class="position-relative"><i class="fa fa-commenting-o fa-rounded"
          aria-hidden="true"></i>
        <span class="position-absolute notification text-white">3</span>
      </li>
      <li class="d-inline-block" style="padding-right: 1%;" class="position-relative"><i class="fa fa-bell fa-rounded"></i>
        <span class="position-absolute offline"></span>
      </li>
      <li class="d-inline-block" style="padding-right: 1%;"><img src="images/profile.jpeg" class="profile-icon"></li>
    
      

    </ul>

  
</nav>






<script>
  function openNav() {
    var e = document.getElementById("leftmenu");
    if (e.style.width == '250px') {
      e.style.width = '0px';
    }
    else {
      e.style.width = '250px';
    }
  }

  function closeNav() {
    document.getElementById("leftmenu").style.width = "0";
  }
</script>


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <a class="navbar-brand" href="#">Navbar</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                      </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  </div>
                </nav> -->