

<div class="leftmenu sidebar-wrapper"  id="leftmenu">
  <!-- <h4 class="text-white mt-3 text-center logo-text">Admitro</h4> -->
<img src="images/logo1.png" style="width:70%;margin-left: 32px;">

  <!-- Navigation links in sidebar-->
  <div class="img-shape text-center">
    <img class="image" src="images/profile.jpeg">
    <p class="text-white text-center mt-2 mb-0">Jessica<i class="fa fa-check-circle text-success ml-2" aria-hidden="true"></i></p>
    <p class="theme-color text-center font-12"> Web Designer</p>
  </div>
  <ul class="pl-3">
    <li class="d-inline-block">
      <span style="padding-right: 1%;"><i class="fa fa-expand profile-style ml-2 theme-color"></i></span>
    </li>
    <li class="d-inline-block">
      <span style="padding-right: 1%;"><i class="fa fa-file-text-o profile-style ml-2"></i></span>
    </li>
    <li class="d-inline-block">
      <span style="padding-right: 1%;"><i class="fa  fa-share-alt profile-style ml-2"></i></span>
    </li>
    <li class="d-inline-block">
      <span style="padding-right: 1%;"><i class="fa fa-cog profile-style ml-2"></i></span>
    </li>


  </ul>
  <div>

  </div>

  <div class="sidebar-menu">
    <ul class="pl-2">
      <li class="header-menu">
        <span>Main</span>
      </li>
      <li class="sidebar-dropdown">
        <a href="#">
          <i class="fa fa-th-large fa-rounded" aria-hidden="true"></i>
          <span class="ml-2 font-12 theme-color">Dashboard</span>
          <span class="badge  badge-danger p-1">Hot</span>
        </a>

      </li>
      <li class="header-menu">
        <span>Widgets & Maps</span>
      </li>

      <li class="sidebar-dropdown">
        <a href="#">
          <i class="fa fa-th-large fa-rounded"></i>
          <span class="ml-2 theme-color">Widgets</span>
          <span class=""><i class="fa fa-angle-right float-right theme-color mt-1" aria-hidden="true"></i></span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li>
              <a onclick="loadMainPage('/widgets/snapshot')" href="#/widgets/snapshot" class="theme-color">Products

              </a>
            </li>
            <li>
              <a href="#" class="theme-color">Orders</a>
            </li>
            <li>
              <a href="#" class="theme-color">Credit cart</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="sidebar-dropdown">
        <a href="#">
          <i class="fa fa-globe fa-rounded"></i>
          <span class="theme-color ml-2">Maps</span>
          <span class=""><i class="fa fa-angle-right float-right theme-color mt-1" aria-hidden="true"></i></span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li>
              <a href="#" class="theme-color">Google maps</a>
            </li>
            <li>
              <a href="#" class="theme-color">Open street map</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="header-menu">
        <span>Components</span>
      </li>

      <li class="sidebar-dropdown">
        <a href="#">
          <i class="fa fa-th-large fa-rounded"></i>
          <span class="ml-2 theme-color">Apps</span>
          <span class=""><i class="fa fa-angle-right float-right theme-color mt-1" aria-hidden="true"></i></span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li>
              <a href="#" class="theme-color">Products

              </a>
            </li>
            <li>
              <a href="#" class="theme-color">Orders</a>
            </li>
            <li>
              <a href="#" class="theme-color">Credit cart</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="sidebar-dropdown">
        <a href="#">
          <i class="fa fa-th-large fa-rounded"></i>
          <span class="ml-2 theme-color">Elements</span>
          <span class=""><i class="fa fa-angle-right float-right theme-color mt-1" aria-hidden="true"></i></span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li>
              <a href="#" class="theme-color">Products

              </a>
            </li>
            <li>
              <a href="#" class="theme-color">Orders</a>
            </li>
            <li>
              <a href="#" class="theme-color">Credit cart</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="sidebar-dropdown">
        <a href="#">
          <i class="fa fa-th-large fa-rounded"></i>
          <span class="ml-2 theme-color">Utilities</span>
          <span class=""><i class="fa fa-angle-right float-right theme-color mt-1" aria-hidden="true"></i></span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li>
              <a href="#" class="theme-color">Products

              </a>
            </li>
            <li>
              <a href="#" class="theme-color">Orders</a>
            </li>
            <li>
              <a href="#" class="theme-color">Credit cart</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="header-menu">
        <span>Forums</span>
      </li>

      <li class="sidebar-dropdown">
        <a href="#">
          <i class="fa fa-th-large fa-rounded"></i>
          <span class="ml-2 theme-color">Forum</span>
         
          <span class=""><i class="fa fa-angle-right float-right theme-color mt-1" aria-hidden="true"></i></span>
          <span class="badge  badge-success p-1 mr-1">6</span>
         
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li>
              <a href="#" class="theme-color">Products

              </a>
            </li>
            <li>
              <a href="#" class="theme-color">Orders</a>
            </li>
            <li>
              <a href="#" class="theme-color">Credit cart</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <!-- <h5 class="text-white mt-3 card-text">MAIN</h6>

    <a href="#" class="text-white p-2">Dashboard</a><br /> 
    <br /> 
    <h5 class="text-white">WIDGETS & MAPS</h5>

    <a href="#" class="text-white p-2">Widgets</a><br /> 
    <br /> 
    <i class="fa fa-map-marker text-white" aria-hidden="true"></i>
    <a href="#"class="text-white p-2">Map</a><br /> 
    <br /> 
    <h5 class="text-white">COMPONENTS</h5>
    <a href="#" class="text-white p-2">Apps</a><br /> 
    <br /> 
    <a href="#" class="text-white p-2">Elements</a><br /> 
    <br /> 
    <a href="#" class="text-white p-2">Utilities</a><br /> 
    <br /> 
    <h5 class="text-white">COMPONENTS</h5>
    <a href="#" class="text-white p-2">Forums</a><br /> 
    <br /> 
    <a href="#" class="text-white p-2">Charts</a><br /> 
    <br />  -->

</div>