table.dataTable {
  background: #ffffff;
}
/* button{
    margin-left: 500px;
  } */
.fa-rounded {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #88888821;
  padding: 0.5em 0.6em;
  color: #ffffff85;
  font-size: 11px;
  background: #88888821;
}

.font-14 {
  font-size: 14px;
}
.navbar-search {
  min-height: 23px;
  height: 30px;
  width: 400px !important;
  background: #272d47 !important;
  border: 1px solid #eeeeee29 !important;
}
.font-600 {
  font-weight: 600 !important;
}

.form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  padding-left: 270px;
  right: 25px;
  top: -5px;
}
.profile-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #88888821;
  /* padding: 0.5em 0.6em; */
  color: #ffffff85;
  font-size: 11px;
  background: #88888821;
}
.offline {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  top: 8px;
  right: 55px;
}
.notification {
  width: 14px;
  height: 14px;
  background-color: #3a800d;
  border-radius: 50%;
  top: 3px;
  right: 78px;
  font-size: 10px;
  text-align: center;
}

.logo-text {
  font-weight: 600;
  font-size: 24px;
}
.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}
ul li {
  list-style: none;
}
.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: 600;
  font-size: 13px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
  color: #ffffff8c;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 12px 8px 20px;
}
.badge-danger {
  background-color: red;
  font-size: 11px;
  line-height: 13px;
}
.sidebar-wrapper .sidebar-menu ul li a:hover {
  background: #141527a1;
  border-radius: 18px;
}
.theme-color {
  color: #ffffff8c;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}
.login-pswd {
  position: absolute;
  right: 20px;
  top: 40px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.profile-style {
  padding: 10px;
  font-size: 13px;
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #88888821;
  color: #ffffff85;
  background: #88888821;
}
.image {
  border-radius: 100%;
  margin-top: 30px;
  /* margin-left: 70px; */
  /* margin-left: 35%; */
  text-align: center;
  height: 50px;
  padding: 3px;
  border: 1px solid #cccccc7a;
  width: 50px;
}

.leftmenu,
.card-header {
  background-color: #272d47 !important;
}



.card-text {
  font-size: 1.5em;
  font-weight: 100;
}

.card-statistics {
  border: none !important;
  border-left: 4px !important;
  border-radius: 6px !important;
  line-height: 16px;
}

body,
.profile-orange,
.profile-blue,
.profile-red,
.profile-aqua,
.profile-blueviolet {
  background-color: #141527;
}
/* .card-statistics{
    border: none;
    border-left: 4px;
    border-radius: 6px;
} */
.card-title {
  text-transform: capitalize;
  font-size: 0.75em;
  padding-top: 10px;
  margin-bottom: 0.2rem;
}
.card-text {
  font-size: 1.5em;
  font-weight: 600;
}
.card-body,
.navbar,
.leftmenu,
.card-header {
  background-color: #272d47;
}
.btn {
  height: 38px;
  font-size: 12px !important;
  line-height: 13px !important;
  color: white !important;
}
/* .btn-primary {
  color: #fff!important;
  background-color: #0d6efd!important;
  border-color: #0d6efd!important;
  /* height: 30px!important; */
/* */

/* .btn-info {
  color: #fff!important;
  background-color: #FFC107!important;
  border-color: #FFC107!important;

} */

/* .btn-info {
  color: #fff!important;
  background-color: #FFC107!important;
  border-color: #FFC107!important;
  height: 30px!important;
} */

button.btn.btn-danger1 {
  color: white;
  background-color: red;
}

button.btn.btn-prime1 {
  color: white;
  background-color: blue;
}
button.btn {
  margin: 5px;
}

/* ======================================== */
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #141527;
  display: inline-block;
  position: absolute;
  left: 7px;
  width: 2px;
  height: 100%;
  border: 1px dashed #9899a5;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 35px;
}
ul.timeline > li:before {
  content: " ";
  background: black;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  /* border: 3px solid green; */
  left: 0px;
  width: 15px;
  height: 15px;
  z-index: 400;
}

.timeline-font {
  font-weight: 600 !important;
  font-size: 12px !important;
}

.timeline-style {
  font-size: 12px !important;
}

.text-primary {
  color: blue;
}

.hide-circle::before {
  content: none !important;
}

.circle-skyblue::before {
  border: 3px solid skyblue !important;
}

.circle-palevioletred::before {
  border: 3px solid palevioletred !important;
}
.circle-orange::before {
  border: 3px solid orange !important;
}
.circle-aqua::before {
  border: 3px solid aqua !important;
}
.circle-purple::before {
  border: 3px solid purple !important;
}
.circle-blue::before {
  border: 3px solid blue !important;
}

.font-13 {
  font-size: 13px;
  font-weight: 500;
}

.font-12 {
  font-size: 12px;
}
.icon-image {
  width: 20px;
  height: 20px;
}
.icon-bg1 {
  font-size: 10px;
  border: 1px solid #700e70;
  padding: 3px;
  background-color: #700e70;
}

.icon-bg2 {
  font-size: 10px;
  border: 1px solid #48b0ca;
  padding: 3px;
  background-color: #48b0ca;
}
.timeline-padding {
  padding-top: 0% !important;
  padding-bottom: 0% !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.timeline-height {
  height: 375px;
  overflow: auto;
}

.profile-orange {
  border-left: 3px solid orange;
}

.profile-blue {
  border-left: 3px solid blue;
}
.profile-red {
  border-left: 3px solid red;
}
.profile-aqua {
  border-left: 3px solid aqua;
}
.profile-blueviolet {
  border-left: 3px solid blueviolet;
}
.profile-image {
  border-radius: 100%;
  /* margin-top: 30px; */
  /* margin-left: 70px; */
  /* margin-left: 35%; */
  text-align: center;
  height: 30px;
  /* padding: 3px;
  border: 1px solid #cccccc7a; */
  width: 30px;
}

.bg-green {
  color: #03a678;
}

.bg-red {
  color: red;
}
.bg-blue,
.progress-bar {
  background-color: #22243f;
}
/* .progress-bg{
  width:100%;
  height:2px;
  margin-left: 5px;
} */
/* 
.progress {background: #272d47 ; border:none; border-radius: 4px; height: 20px;}
.progress-bar-custom {background:#272d47;} 
.progress-striped .progress-bar-custom {background-color: #272d47; background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255, 255, 255, 0.15),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255, 255, 255, 0.15)),color-stop(0.75,rgba(255, 255, 255, 0.15)),color-stop(0.75,transparent),to(transparent))); background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent); background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent); background-size: 40px 40px;} */

.font-10 {
  font-size: 10px;
}

.border-color td,
.border-color th {
  border: 1px solid #ffffff8c !important;
}

.progress {
  background-color: #22243f !important;
  width: 100% !important;
  height: 7px !important;
}

.progress-style {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100% !important;
}

.progress-width {
  width: 100% !important;
  line-height: 6px !important;
}

.bg-deeppink {
  background-color: #c44569 !important;
}

.bg-violet {
  background-color: #778beb !important;
}
.bg-reds {
  background-color: #e66767 !important;
}
.bg-deepviolet {
  background-color: #674172 !important;
}
.bg-greens {
  background-color: #3fc380 !important;
}
.bg-aqua {
  background-color: #29f1c3 !important;
}
.bg-yellow {
  background-color: #f5e51b !important;
}
.icon-violet {
  color: #663399;
  border: 1px dotted #663399;
  background-color: #947cb0;
}

.icon-pink {
  color: #d2527f;
  border: 1px dotted #d2527f;
  background-color: #f1828d;
}

.icon-blue {
  color: #446cb3;
  border: 1px dotted #446cb3;
  background-color: #4183d7;
}
.icon-circle {
  padding: 10px;
  border-radius: 50%;
  float: right;
  /* height:15px;
  width:15px; */
}
.icon-circles {
  border-radius: 100%;
  border: 1px dotted #446cb3;
  height: 3px !important;
  width: 3px !important;
  padding: 10px !important;
}

.card-text1 {
  font-size: 0.9em;
  font-weight: 100;
}

.card-text2 {
  font-size: 0.9em;
  font-weight: 600;
}
.navbar-expand-lg .navbar-collapse {
  display: inline-block !important;
}
.navbar-nav {
  width: 300px;
  display: inline-block;
  float: right;
  text-align: right;
}
.leftmenu,
.navbar {
  display: block;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #141527;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #141527;
}
/* 
#leftmenu
{
  height:100%;
} */

/* 
#leftmenu.active{
  left:0px;
} */
/* ================================================================================== */
.font-16{
  /* font-size:16px!important; */
  font-weight: 600;
}

#play_btn{
  display:none;
}


.card-stats {
  height: 300px;
  width: 100%;
  background-color: #141527;
  box-shadow: 0 0 12px rgba(83, 79, 83, 0.5);
  
}

.card-stats2 {
  height: 200px;
  width: 100%;
  background-color: #141527;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
  
}

/* #content{
  display: none;
} */





.card-stats1 {
  background-color: transparent;
  /* height: 250px; */
}
.card-status1 {
  height: 210px;
  width: 100%;
  background-color: transparent;
  border-style: none;
  box-shadow: 0 0 12px rgba(83, 79, 83, 0.5);
 
}
.card-status2 {
  height: 212px;
  width: 100%;
  background: inherit;
  box-shadow: 0 0 12px rgba(83, 79, 83, 0.5);
  /* filter: blur(10px); */
  /* position: absolute; */
  overflow: hidden;
  
}

.card-status3 {
  height: 420px;
  width: 100%;
  background-color: transparent;
  border-style: none;
  box-shadow: 0 0 12px rgba(83, 79, 83, 0.5);
 
}

.status-progress1{
  font-size:30px;
}

.status-progress2{
  font-size:25px;
}

.card-progress{
  height: 54px;
}

.timer-text{
  
  color: rgb(92,74,174);
}

.btn-secondary{
  background-color: rgb(92,74,174); 
  
}

.btn-secondary:hover,.btn-secondary:active{
  background-color: rgb(92,74,174); 
  
}


.fa-rounded1 {
  display: inline-block;
  border-radius: 60px;
  /* box-shadow: 0px 0px 2px #88888821; */
  padding: 0.5em 0.6em;
 
  font-size: 20px;
  


  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
 border-style: solid;
}


.blur-card {
  /* filter: blur(10px); */
}

/* =========================   washing machine ============================================== */
/* ==========================//slick carousel===================================================== */

/* ========================================================================================= */
.control-button{
  width:100px;
  height:100px;
  text-align: center;
  border-radius: 50%;
  margin-left: 10%;
}

.control-button1{
  width: 125px;
  padding-top: 16px;
  height:100px;
  text-align: center;
  border-radius:23px;
  margin-left: 10%;
}
.control-align{
  margin-top: 50px;
  
}


/* ======================================================================== */
 .table-color{
  background-color: #22243f;
 }
/* ================================================================ */
.new-theme{
  
    /* font-size: 72px; */
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   border-style: none;
}


.new-bg-theme{
  background: -webkit-linear-gradient(#58259b, rgb(159, 113, 243));
}

.header-round{
  border-radius: 0 15px 15px 0;
  border-style: none;
  background-color: white;
  padding: 13px;
  margin-left: 0;
  top: -1px;
  margin-bottom: 1px;
  position: absolute;
  left: 0px;
  width:80%;
  color:slateblue;
  font-weight: 900;
}

.header-round1{
  border-radius: 0 30px 30px 0;
  border-style: none;
  background-color: white;
  padding: 13px;
  margin-left: 0;
  top: -1px;
  margin-bottom: 1px;
  position: absolute;
  left: 0px;
  width:80%;
  color:slateblue;
  font-weight: 900;
}

.table-bg{
  box-shadow: 0 0 3px rgba(66, 56, 66, 0.5);
}


.card-header .new-bg-theme{
  position: relative;
}

th{
  background:transparent!important;
}

/* =============================step progress==================================================== */
.wizard {
  margin: 20px auto;
  background:blueviolet;
}

  .wizard .nav-tabs {
      position: relative;
      margin: 40px auto;
      margin-bottom: 0;
      border-bottom-color: red;
  }

  .wizard > div.wizard-inner {
      position: relative;
  }

.connecting-line {
  height: 2px;
  background: black;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: green;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: orange;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
span.round-tab i{
  color:#555555;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de;
  
}
.wizard li.active span.round-tab i{
  color: #5bc0de;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 25%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

  .wizard .nav-tabs > li a:hover {
      background: transparent;
  }

.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}

.wizard h3 {
  margin-top: 0;
}

@media( max-width : 585px ) {

  .wizard {
      width: 90%;
      height: auto !important;
  }

  span.round-tab {
      font-size: 16px;
      width: 50px;
      height: 50px;
      line-height: 50px;
  }

  .wizard .nav-tabs > li a {
      width: 50px;
      height: 50px;
      line-height: 50px;
  }

  .wizard li.active:after {
      content: " ";
      position: absolute;
      left: 35%;
  }
}




@media only screen and (max-width: 600px) {
  .leftmenu {
    display: none !important;
  }
}
